/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: rgb(184, 221, 255);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  :root {
    --clr-primary: rgb(7, 108, 29);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);

}

*,
*::before,
*::after {
font-family: inherit;
box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);

    /* display: grid;
    grid: "header header header header" auto
    ".... lists active ....." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr; */

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
   

}

.title{
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    font-size:large;
    font-weight: 800;
    letter-spacing: 2px;
    
    background-color: var(--clr-primary);
    color: var(--clr-light);
    margin-bottom: .5em;
    margin-top: .5em;
    margin-left: .5em;
    border-color: #e4e4e4;
}


.all-tasks{
   grid-row: 2;
   grid-column: 1;
   margin-left: 1em;
   margin-top: 1.3em;
}

.task-list {
   line-height: 2;
   font-size: 1.2rem;
   list-style: circle;
   padding-left: 1.1em;

}

.list-name {
    cursor: pointer;
}

.list-name:hover {
    opacity: 0.7;
}


.task-dialog {
        top: 50%;                 /* Position from the top */
        left: 50%;                /* Position from the left */
        transform: translate(-50%, -50%); /* Adjust for perfect centering */
        max-width: 90%;           /* Max width of the dialog */
        max-height: 90%;          /* Max height of the dialog */
        border-radius: 8px;       /* Rounded corners */
        padding: 20px;            /* Padding inside the dialog */
        background-color: white;  /* Background color for the dialog */
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1); /* Soft shadow */
        z-index: 1000;            /* Ensure it's above other elements */
      }
      
#list-create {
display: flex;
}

#new-task-form {

        display: flex;
        flex-direction: column;   /* Stack form elements vertically */
        justify-content: space-around;
        gap: 16px;                /* Space between form elements */
        align-items: stretch;     /* Make the form elements stretch */
      }


.new{
    background: transparent;
    border: 0;
    border-bottom: 1px solid currentColor;
    color: inherit;
    font-size: inherit;
    outline: none;
    transition: border bottom 250ms ease-in;
    order: 2;
    padding: 0.25em;

}

.new.list::placeholder {
    color: white;
    opacity: .5;
}

.new:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder{
    opacity: 0.8;
}

.new.list{
    font-size: 1.1rem;
}


.active-list{
    font-weight: 800;
}

.todo-list{
  --spacer: 2rem;
  grid-row: 2;
  grid-column: 2 / -1;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin-top: .2em;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

.todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .list-title {
    margin: 0 1em 0 0;
} */


.todo-body {
   /* padding: var(--spacer); */
   padding-left: 2rem;
   padding-bottom: 2rem;
   padding-top: 0.3rem;
   position: relative;
}

.new-task-creator .create {
   color: var(--clr-primary)
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
}

.btn.create:hover {
    opacity: 0.8;
}

.btn-delete {
    font-weight: 600;
    
    letter-spacing: 1px;
    font-size: 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.btn-delete:hover {
    opacity: 0.8;
}

.btn-clear {
    font-weight: 600;
    
    letter-spacing: 1px;
    font-size: 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    margin-bottom: 1em;
}

.btn-clear:hover {
    opacity: 0.8;
}

[type="checkbox"] {
    /* opacity: 0; */
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    /* margin-bottom: 1.4em; */
}

.task {
    position: relative;
    margin-top: .8em;
    margin-bottom: .3em;
    margin-right: 1em;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    /* bottom: 0em; */
    height: 1px;
    background: currentColor;
    opacity: .4;
}


.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
    
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
    }

.task label::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        left: 1.5em;
        height: 3px;
        background: currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 150ms ease-in-out;
    }

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}
    

.delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0px;
  
}

.btn-delete {

}


.add-task:hover, .add-this-task:hover {
  opacity: 0.8;
}

.add-task {
  font-weight: 600;
  margin-left: 640px;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.add-this-task {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
  }